.wrapperUpload {
  height: 560px;
  width: 100%;
  background-color: #cccccc;
  padding-top: 10em;
}
.uploadImage {
  height: 156px;
  width: 156px;
  background-color: #7a7a7a;
  border-radius: 10px;
  margin: auto;
}
.fieldUpload {
  width: 100%;
  height: 100%;
  opacity: 0;
}
#fieldInput {
  position: absolute;
  bottom: 30px;
  font-family: 'Open Sans', 'Prompt', sans-serif;
  width: 100%;
  height: 60px;
  border-radius: 0!important;
  border: 1px;
  color: #000000!important;
  box-shadow: 1px 2px 2px 0px #777;
}
#fieldInput:focus { border: 1px solid #000000!important }
.fontNow {
  font-family: 'Open Sans', 'Prompt', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #7a7a7a;
  text-align: center;
  margin-top: 20px;
}


.marginTop40 {
  margin-top: 40px;
}
.marginฺBottom200 {
  margin-bottom: 200px;
}
.straightLine {
  position: absolute;
  height:25em;
  width: 24px;
  border-left: 1px solid #DADADA;
}
.font__bold {
  font-weight: 700;
  color: #999999;
}
.subfont__bold {
  font-size: 10px;
  font-weight: 700;
  color: #999999;
}

.labelFeature {
position: absolute;
right: 21em;
width: 600px;
border-radius: 3px;
background: #ffffff;
padding: 20px;
}
.arrow_box:after {
left: 100%;
top: 18%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
z-index: 3;
}
.arrow_box:after {
border-color: rgba(136, 183, 213, 0);
border-width: 20px;
margin-top: -30px;
}

#labelImage {
height: 250px;
top: .7em;
border: 1px solid #197b31;
display: none;
}
.arrowColorGreen:after {
border-left-color: green;
}
#labelEmotion {
height: 250px;
top: 3.8em;
border: 1px solid #E7932A;
display: none;
}
.arrowColorOrange:after {
border-left-color: #E7932A;
}
#labelPara {
height: 400px;
top: 5.2em;
border: 1px solid #3893CB;
display: none;
}
.arrowColorBlue:after {
border-left-color: #3893CB;
}

.menuEmotion {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}
.menuEmotion > li {
float: left;
}
.menuEmotion > li a {
display: block;
color: #000;
text-align: center;
padding: 2px 16px;
text-decoration: none;
}
.menuEmotion > li a:focus {
border-radius: 5px;
background: #E7932A;
color: #fff;
}

.contEmotion {
height: 150px;
overflow-y: scroll;
}
#searchHeader {
font-family: 'Open Sans', 'Prompt', sans-serif;
width: 100%;
height: 60px;
border-radius: 0!important;
border: 1px solid #E4E4E4!important;
color: #000000!important;
background-color: #ffffff!important;
}

/* width */
.contEmotion::-webkit-scrollbar {
width: 10px;
}

/* Track */
.contEmotion::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
.contEmotion::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
.contEmotion::-webkit-scrollbar-thumb:hover {
background: #555;
}

#des {
  -webkit-appearance: none;
  background-color: white;
  -webkit-rtl-ordering: logical;
  flex-direction: column;
  resize: none;
  cursor: text;
  width: 100%;
  white-space: none;
  word-wrap: break-word;
  border-width: 0px;
  border-style: solid;
  border-color: initial;
  border-image: initial;
  padding: 2px;
  overflow: initial;
  font-size: 16px;
}
.hoverEmoji:hover {
  background-color: blue;
}




input[type="checkbox"] {
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  height: 25px;
  padding-right: 10px;
  position: relative;
  width: 25px;
  box-shadow: 0 0 1px 2px inset #ccc;
  -webkit-appearance: none;
}
input[type="checkbox"]:before {
  content: '✘';
}
input[type="checkbox"]:checked:before {
  content: '✔';

}